*{
    padding: 0;
    margin: 0;
}
p{
    margin-bottom: 0;
}
::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0,0,0,0.1);
  border: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: #F90;
  border-radius: 10px;
  /*background: linear-gradient(left, #fff, #e4e4e4);*/
    background-image: linear-gradient(45deg,rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);;
  border: 1px solid #aaa;
}
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
::-webkit-scrollbar-thumb:active {
  background: linear-gradient(left, #22ADD4, #1E98BA);
}
body {
  display: flex;
  flex-direction: column;
    justify-content: flex-start;
    background-color: #D9AFD9;
background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

}

.flashed_messages{
    /*display: inline-block;*/
    position: fixed;
    /*width: 20%;*/
    padding: 15px 30px;
    /*margin: 15px auto;*/
    top: 100px;
    right: 50px;
    border-radius: 20px;
    background-color: rgba(255,255,255,.9);
    z-index: 200;
    transform: translateY(50px);

    font-size:18px;
    color: darkgreen;
    text-align: center;
    animation: fadeIn .5s ease-in,moveOutTop .5s ease-out 2s;
    animation-fill-mode: forwards;
}

.header{
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 3;
    align-items: center;
    width: 100%;
    height: 70px;
    /*margin: 0 auto;*/
    padding-right: 25%;
    border-bottom: 5px solid rgba(0, 0, 0, 0.1);
    font-size: 20px;
    overflow: hidden;
    user-select: none;
    background-color: rgba(255,255,255,0.85);
}
 .nav-right{
    margin: auto 20px;
     font-weight: normal;
     text-decoration-style: double;
     text-decoration-line: blink;
     color: darkcyan;
     transition-duration: 0.5s;
}
 .nav-right:hover{
     color:#2c3e50;
     /*font-weight: bolder;*/

 }
.nav-left{
    margin-right: 60%;
}
.nav-left img{
    width: 45px;
    height: 45px;
}

.nav-left:hover{
    opacity: 0.5;
}

/*#particles-js {*/
/*  position: fixed;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  background: #00356B;*/
/*}*/

@keyframes fadeIn {
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    50%{
        opacity: .5;
        transform: translateY(25px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes moveOutTop {
    0%{
        opacity: 1;
        transform: translateY(0);
    }
    50%{
        opacity: .5;
        transform: translateY(25px) scale(.9);
    }
    100%{
        opacity: 0;
        transform: translateY(-30px);
    }
}
