.search{
    text-align: center;
    margin: 2px auto;
    z-index: 4;
    width: 35%;
    height: 60px;
    padding: 0 30px;
    color: whitesmoke;
}
.search input{
    border-style: double;
    border-color: #2c3e50;
    border-width: 2px;
    border-radius: 15px;
}

.allusers{
    display: flex;
    position: relative;
    z-index: 2;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px;
}
.user{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 23%;
    min-width: 230px;
    margin: 8px 10px;
    background-color: whitesmoke;
    border-width: 10px;
    border-style: double;
    border-color:#00356B;
    border-radius: 18px 18px 0 0 ;
    font-family: "Droid Sans Mono", serif;
    transition: all .2s ;
}
.user:hover{
    transform: translateY(-25px) scale(1.1);
    box-shadow: 15px 15px 20px #2c3e50;
}


.user-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*align-content: center;*/
    padding: 3px 8px;
    border-radius: 8px 8px 0 0 ;
    color:white;
}
.user-head-safe{
        background-color: rgb(49,170,165);
}
.user-head-danger{
    background-color: rgb(170, 50, 51);
}
.gender-age{
    font-size: 14px;
}
.name{
    font-size: large;
}

.tip{
    position: absolute;
    visibility: hidden;
    background-color: white;
    color: #1b6d85;
    border-radius: 6px;
    padding: 5px 5px;
    font-size: 12px;
    z-index: 1;
}
.profile-link{
    top: -20px;
    left: -7px;

}
.register-time{
    top: -20px;
    right: 10px;
}
.locate-type{
    left: 40%;

}
.latitude .longitude{
    position: relative;
}
.device-id:hover .register-time{
        visibility: visible;
}
.latitude:hover  .locate-type{
    visibility: visible;
}
.longitude:hover .locate-type{
    visibility: visible;
}
.name:hover .profile-link{
    visibility: visible;
}

.icon{
    width: 20px;
    height: 20px;
}
.user:hover{
    background-color: #2c3e50;
    color: white;
        border-color:white;
    /*margin: -5px auto;*/
}
.user:hover .status-total{
    border-left-color: whitesmoke;
}
.user:hover .user-status{
    border-bottom-color: whitesmoke;
}
.user-status{
    display: flex;
    padding: 3px 3px;
    width: 100%;
    height: 140px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #1b6d85;
}
.status-detail{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    min-width: available;
    height: 100%;
    padding-bottom: 5px;
    overflow: hidden;
    /*overflow-style: marquee-block;*/
    /*overflow-y: scroll;*/
}
.status-detail *{
    margin: 0 5px;
}
.status-total{
    width: 40%;
    height: 100%;
    font-size: 50px;
    text-align: center;
    border-left-width: 2px;
    border-left-color: #1b6d85;
    border-left-style: solid;
}
.status-total span{
    font-size: large;
}
.other-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px 8px;
    text-align: left;
}
.address{
    font-size: small;
}
.last-sync-time{
    font-size: small;
}
.tel{
    display: flex;
    justify-content: center;
    padding: 3px 8px;
    color: whitesmoke;
    font-size: larger;
    background-color: rgb(49,170,165);
}
