.left{
    position: relative;
    z-index: 2;
    width: 40%;
    border-width: 8px;
    border-style: double;
    border-radius: 20px;
    margin: 10px auto;
    padding: 25px;
    color:white;
    background-color: #31AAA5;
}