{% from 'bootstrap/utils.html' import render_messages %}

{% block styles %}
    {{ bootstrap.load_css() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static',filename='base.css') }}">
{% endblock styles %}


{% block content %}

    {#    navbar#}
    {% block nav %}
        <div class="header">
            <a class="nav-left" href="{{ url_for('main.index') }}">
                <img src="{{ url_for('static',filename='favicon.ico') }}" alt="SAFE GUARD">
            </a>
            {% if current_user.is_authenticated and current_user.is_admin %}
                <a class="nav-right" href="{{ url_for('main.users') }}">用户列表</a>
            {% endif %}
            {% if current_user.is_authenticated %}
                <span class="nav-right">
            <a href="{{ url_for('main.profile',device_id=current_user.device_id) }}">
                {{ current_user.username }}
            </a>
        </span>
                <a class="nav-right" href="{{ url_for('main.logout') }}">注销</a>
            {% else %}
                <a class="nav-right" href="{{ url_for('main.register') }}">注册</a>
                <a class="nav-right" href="{{ url_for('main.login') }}">登录</a>
            {% endif %}
        </div>
    {% endblock %}


    {% block container %}
        <div class="mycontainer">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}

            <div class="page_content">
                {% block page_content %}{% endblock %}
            </div>
        </div>
    {% endblock %}


    {% block pagecontent %}

        {% for message in get_flashed_messages() %}
            <div class="flashed_messages">
                <p>{{ message }}</p>
            </div>
        {% endfor %}

        {% block mycontent %}

        {% endblock %}

    {% endblock %}

{% endblock %}

{% block scripts %}
    <!-- 夜间模式 -->
    <!-- <script  src="{{ url_for('static',filename='script.js') }}"></script> -->

{% endblock %}
